<div class="template2-container">
  <div class="left-col">
    <section class="personal-info"></section>
    <section class="contact">
      <div class="title">
        <img
          src="https://img.icons8.com/pastel-glyph/30/000000/business-contact.png"
        />
        <span class="title-text">Contact</span>
      </div>
      <div class="data">
        <div class="mobile">
          <img
            src="https://img.icons8.com/ultraviolet/20/000000/cell-phone.png"
          />
          <span class="data-text">+91 87199119999</span>
        </div>
        <div class="email">
          <img
            src="https://img.icons8.com/ultraviolet/20/000000/filled-message.png"
          />
          <span class="data-text">sukheja.varun@gmail.com</span>
        </div>
        <div class="address">
          <img src="https://img.icons8.com/ultraviolet/20/000000/marker.png" />
          <span class="data-text"
            >45 Mount Eden Road, Mount Eden, Auckland. Rural addresses: 21
            Greens Road RD 2 Ruawai 0592. Partial addresses: Main Highway Otaki;
            32 Wilson Street. Postcodes: 5022.
          </span>
        </div>
        <div class="personal-site">
          <img src="https://img.icons8.com/ultraviolet/20/000000/domain.png" />
          <span class="data-text">logic24by7.com</span>
        </div>
      </div>
    </section>
    <section class="language">
      <div class="title">
        <img src="https://img.icons8.com/pastel-glyph/30/000000/comments.png" />
        <span class="title-text">Language</span>
      </div>
      <div class="data">
        <div>
          <span>Spanish</span>
          <span>: Basic</span>
        </div>
        <div>
          <span>Portugese</span>
          <span>: Intermediate</span>
        </div>
        <div>
          <span>Hindi</span>
          <span>: Advanced</span>
        </div>
      </div>
    </section>
    <section class="hobbies">
      <div class="title">
        <img
          src="https://img.icons8.com/pastel-glyph/30/000000/paint-palette.png"
        />
        <span class="title-text">Hobbies</span>
      </div>
      <div class="data">
        <div>Dancing</div>
        <div>Listening Music</div>
        <div>Blogging</div>
        <div>Voluntering</div>
        <div>Gardening</div>
      </div>
    </section>
  </div>
  <div class="right-col">
    <section class="education">
      <div>
        <span>YYYY-YYYY</span>
        <span>University, Location</span>
      </div>
      <div>
        <span>YYYY-YYYY</span>
        <span>University, Location</span>
      </div>
      <div>
        <span>YYYY-YYYY</span>
        <span>University, Location</span>
      </div>
    </section>
    <section class="experience">
      <div>
        <span>YYYY-YYYY</span>
        <span>Company Name</span>
      </div>
      <div>
        <span>YYYY-YYYY</span>
        <span>Company Name</span>
      </div>
      <div>
        <span>YYYY-YYYY</span>
        <span>Company Name</span>
      </div>
    </section>
    <section class="skills"></section>
    <section class="certificates"></section>
    <section class="achivements"></section>
  </div>
</div>
