$dark-background: rgb(0, 35, 61);
$title-background: rgb(0, 18, 43);

.template2-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  .left-col {
    background-color: $dark-background;
    color: white;
    .personal-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0px;
      img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        border: 5px solid white;
      }
      .hello-text {
        background-color: $title-background;
        margin: 15px 0;
        padding: 0 7px;

        position: relative;
        // background-color: #e15915;
        // height: 320px !important;
        // width: 100% !important;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -9px;
          width: 0;
          height: 0;
          border-top: solid 7px $title-background;
          border-left: solid 7px transparent;
          border-right: solid 7px transparent;
        }
      }
      .name {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
      }
      .job-title {
        margin-bottom: 30px;
      }
    }
    .title {
      background-color: $title-background;
      padding: 10px;
      display: flex;
      align-items: center;
      img {
        max-height: 30px;
      }
      .title-text {
        text-transform: uppercase;
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .data {
      margin: 10px 10px 10px 20px;
      font-size: 13px;
      div {
        display: flex;
        align-items: flex-start;
        padding: 5px 0;
      }
    }
    .contact {
      .data {
        .data-text {
          margin-left: 10px;
        }
      }
    }
    .language {
      .data > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .right-col {
    background-color: white;
  }
}
