.title{
    text-align: center;
}
.thumbnail-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 80vh;
  align-items: center;
  img {
    border: grey 1px solid;
  }
}
