.template1-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto auto auto 40px;
  background: yellow;
  .header,
  .footer {
    grid-column: span 12;
    background: cadetblue;
  }

  .timeline {
    grid-column: span 7;
    grid-row: 2/5;
    background: crimson;
  }

  .skills,
  .languages,
  .hobbies {
    grid-column: span 5;
  }

  .skills {
    background: darkorange;
  }

  .languages {
    background: chartreuse;
  }
  .hobbies {
    background: darkblue;
  }
}
