<!-- ************* Education  ****************** -->
<form
  class="form-alignment"
  [formGroup]="experienceDataForm"
  (ngSubmit)="onSubmit()"
>
  <h2 class="form-title">Educational/Professional Experience</h2>
  <div formArrayName="experiences">
    <ng-container
      *ngFor="
        let experience of experienceDataForm.get('experiences').controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <!-- Institute -->
        <div class="form-group required">
          <label>Institute</label>
          <input class="form-control" type="text" formControlName="institute" />
        </div>
        <!-- Start Year -->
        <div class="form-group required">
          <label>Start Year</label>
          <input class="form-control" type="date" formControlName="startDate" />
        </div>
        <!-- End Year -->
        <div class="form-group required">
          <label>End Year</label>
          <input class="form-control" type="date" formControlName="endDate" />
        </div>
        <!-- Short Description -->
        <div class="form-group required">
          <label>Short Description</label>
          <input
            class="form-control"
            type="text"
            formControlName="shortDescription"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Add New Experience Button -->
  <button
    class="add-button"
    type="button"
    (click)="onAddMore()"
    [disabled]="experienceDataForm.get('experiences').invalid"
  >
    Add More
  </button>
  <button
    class="success-button"
    type="submit"
    [disabled]="experienceDataForm.invalid"
  >
    Submit
  </button>
</form>
