<form>
  <!-- *********** Personal Info *************** -->
  <!-- Name -->
  <div class="form-group">
    <label>Full Name</label>
    <input class="form-control" type="text" name="fullName" id="fullName" />
  </div>
  <!-- Title -->
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" id="title" />
  </div>
  <!-- Address -->
  <div class="form-group">
    <label>Address</label>
    <input class="form-control" type="text" name="address" id="address" />
  </div>
  <!-- Mobile -->
  <div class="form-group">
    <label>Mobile</label>
    <input class="form-control" type="tel" name="mobile" id="monile" />
  </div>
  <!-- Email -->
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" name="email" id="email" />
  </div>
  <!-- website -->
  <div class="form-group">
    <label>Website</label>
    <input class="form-control" type="url" name="website" id="website" />
  </div>
  <!-- LinkedIn -->
  <div class="form-group">
    <label>LinkedIn</label>
    <input class="form-control" type="url" name="linkedin" id="linkedin" />
  </div>
  <!-- Fb -->
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="url" name="fb" id="fb" />
  </div>
  <!-- Twitter -->
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="url" name="twitter" id="twitter" />
  </div>

  <!-- ************* Education  ****************** -->
  <!-- Institute -->
  <div class="form-group">
    <label>Institute</label>
    <input class="form-control" type="text" />
  </div>
  <!-- Start Year -->
  <div class="form-group">
    <label>Start Year</label>
    <input class="form-control" type="date" />
  </div>
  <!-- End Year -->
  <div class="form-group">
    <label>End Year</label>
    <input class="form-control" type="date" />
  </div>
  <!-- Short Description -->
  <div class="form-group">
    <label>Short Description</label>
    <input class="form-control" type="text" />
  </div>

  <!-- ************* Experience  ****************** -->
  <!-- Company -->
  <div class="form-group">
    <label>Company</label>
    <input class="form-control" type="text" />
  </div>
  <!-- Start Year -->
  <div class="form-group">
    <label>Start Year</label>
    <input class="form-control" type="date" />
  </div>
  <!-- End Year -->
  <div class="form-group">
    <label>End Year</label>
    <input class="form-control" type="date" />
  </div>
  <!-- Short Description -->
  <div class="form-group">
    <label>Short Description</label>
    <input class="form-control" type="text" />
  </div>
</form>
