<!-- Perosnal Form Component -->
<app-personal-form></app-personal-form>

<!-- ************* Education  ****************** -->
<!-- Institute -->
<div class="form-group">
  <label>Institute</label>
  <input class="form-control" type="text" />
</div>
<!-- Start Year -->
<div class="form-group">
  <label>Start Year</label>
  <input class="form-control" type="date" />
</div>
<!-- End Year -->
<div class="form-group">
  <label>End Year</label>
  <input class="form-control" type="date" />
</div>
<!-- Short Description -->
<div class="form-group">
  <label>Short Description</label>
  <input class="form-control" type="text" />
</div>

<!-- ************* Experience  ****************** -->
<!-- Company -->
<div class="form-group">
  <label>Company</label>
  <input class="form-control" type="text" />
</div>
<!-- Start Year -->
<div class="form-group">
  <label>Start Year</label>
  <input class="form-control" type="date" />
</div>
<!-- End Year -->
<div class="form-group">
  <label>End Year</label>
  <input class="form-control" type="date" />
</div>
<!-- Short Description -->
<div class="form-group">
  <label>Short Description</label>
  <input class="form-control" type="text" />
</div>
<!-- </form> -->
