.linear-progress-container {
  text-align: center;
  display: inline-block;
  margin: 10px;
  .dot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
  }
}
